* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image:url(/bg.png);
  background-attachment: fixed;
  background-color: #C0DEED;
  /*background-position: left 40px;*/
  background-repeat: no-repeat;
  color: #333333;
}

div {
  display: block;
}

#page-outer {
  margin: 0px auto;
  max-width: 1120px;
  min-width: 1000px;
  padding-top: 10px;
  text-align: center;
}

#component {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  min-width: 720px;
  width: 720px;
  overflow: hidden;
  position: relative;
  text-align: left;
  z-index: 1;
  background-color:#A6DCF4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#nav-bar{
  width:400px;
  height:48px;
  line-height:48px;
  vertical-align:middle;
  margin: 0 auto;
  text-align:center;
}

#nav-bar a:link, #nav-bar a:visited {
  /*padding: 0.4em 1em 0.4em 1em;*/
  padding-left:10px;
  padding-right:10px;
  color: #0084B4;
  background-color: #FFF;
  text-decoration: none;
  border: 1px solid #AAA;
}

#nav-bar a:hover {
  color: #0084B4;
  padding-left:10px;
  padding-right:10px;
  text-decoration:underline; 
  background-color: #EEE;
}
a, a:visited{
  color: #0084B4;
  text-decoration:none; 
}
#top{
  height:80px;
  position:relative;
}
.logo{
  margin: 5px 5px 5px 5px;
  float:left;
  height:64px;
}
.nav-main{
  position:absolute;
  height:24px;
  right:20px;
  bottom:0px;
}
.nav-main ul{
  list-style:none;
}
.now{
  background-color: #fafafa;
}
.notnow{
  background-color:#eaeaf4;
}
.nav-main li{
  padding-left:5px;
  padding-right:5px;
  height:23px;
  line-height:23px;
  float:right;
  text-align:center;
  width:80px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.nav-main a:link, .nav-main a:visited{
  /*padding: 0.4em 1em 0.4em 1em;*/
  color: #0084B4;
  text-decoration: none;
}

.nav-main a:hover{
  color: #0084B4;
  text-decoration:underline; 
}

.tweet {
  padding: 5px 10px 0px 10px;
  margin-top: 0px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  background-color: #FAFAFA;
}
.tweetHover{
  background-color: #F4F4F4;
}
.tweet-row {
  display: block;
  line-height: 15px;
  position: relative;
  color: #333;
}

.tweet-user-block {
  float: left;
}
.tweet-user-block img {
  height: 48px;
  width: 48px;
}
.tweet-user-block-name {
  line-height: 18px;
  margin-left: 49px;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #0084B4;
}
.tweet-user-block-desc {
  font-size: 14px;
  line-height: 16px;
  margin-left: 49px;
  min-height: 36px;
  padding-top: 2px;
  padding-left: 10px;
  /*padding-bottom: 4px;*/
  color: #AAA;
}

.tweet-text {
  font-family: Arial, 'Helvetica Neue', sans-serif;
  line-height: 19px;
  padding: 0px;
  word-wrap: break-word;
  margin-left: 10px;
  min-height: 24px;
}
.tweet-timestamp {
  font-size: 13px;
  line-height: 22px;
  margin-left: 10px;
}
.tweet-timestamp a {
  color: #999;
}
.long-url {
  margin:.8em .8em;
  padding:.2em .2em;
  border:1px solid #eee;
  background:#f8f8f8;
}
